.bounds.app--body
    .app--section--header
        .grid-33
            .app--section--heading
                h2 Timeline
        .grid-33
            .app--section--heading
                strong
                h2 Following
        .grid-33
            .app--section--heading
                h2 Direct Messages
    include recent-tweets.pug
    include following.pug
    include message.pug