ul
	li
		div Tweet time - 
		div(style='background-image: url("/image.jpg");')
			img(src='')
		div Account Name - 
		div Account Screen Name - 
		p Tweet body
		ul
			li Reply
			li Retweet - 
			li Likes - 
			li Retweet Likes - 