html
    head
        title Page Not Found - 404
        link(rel='stylesheet', href='/static/css/global.css')
    body
        div.error
            h1 Page Not Found - 404 Error
            p The page requested <strong>#{url}</strong> cannot be found.
